# LFS files
*.gz filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.tbz filter=lfs diff=lfs merge=lfs -text
*.txz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.mod filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text

# Try to get github to better understand what our filetypes are
*.inc linguist-langauge=Fortran
**inlist* linguist-langauge=Fortran
*.mod linguist-generated

# Things to ignore from the release
star/dev_cases_compare_pulses export-ignore
star/dev_cases_star_to_RSP2 export-ignore
star/dev_cases_test_RSP2 export-ignore
star/dev_cases_test_TDC export-ignore
star/rsp2_utils export-ignore
