# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# By default, Bill owns all code.
* @bill-paxton

star/private/eps_mdot.f90 @adamjermyn
auto_diff/* @adamjermyn
